extends layout.pug

block append head
    script(src="/scripts/results.js" type="application/javascript")
    script(src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js")

block content
    h4= survey.name
    input(class="survey_id" type="hidden" value=survey.id)
    each question in survey.Questions
        div(class="question_results")
            div(class="question_container")
                canvas(id="myChart" width="400" height="400" hidden)
                h3= question.questionText
                ul(class="question_list")
                    li(class="options")= question.opOne
                    li(class="options")= question.opTwo
                    li(class="options")= question.opThree
                    li(class="options")= question.opFour
                    li(class="options")= question.opFive
                input(class="question_id" type="hidden" value=question.questionText)
