extends layout_splash.pug


block content
    h4= survey.name
        each question in survey.Questions
            div(class="question_results")
                div(class="question_container")
                    h3= question.questionText
                        ul   
                            li= question.opOne
                            li= question.opTwo
                            li= question.opThree
                            li= question.opFour
                            li= question.opFive

