extends layout.pug

block append head
    script(src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js")
    script(src="/scripts/results.js" type="application/javascript")
block content
    section(class="box" id="survey_banner")
        div(class="hero-body")
            div(class="container")
                h1(class="title")= survey.name
    input(class="survey_id" type="hidden" value=survey.id)
    input(id="_csrfToken" type="hidden" value=token)
    each question in survey.Questions
        div(class="columns")
            div(class="column is-one-fifth")
            div(class="column is-three-fifths")
                section(class="box question_container")
                    input(class="question_id" type="hidden" value=question.id)
                    div(class="box")
                        div(class="content is-large")
                            h1(class="title")= question.questionText
                    div(class="container")
                        div(class="box option")= question.opOne
                            input(type="hidden" value=question.opOne)
                        div(class="box option")= question.opTwo
                            input(type="hidden" value=question.opTwo)
                        div(class="box option")= question.opThree
                            input(type="hidden" value=question.opThree)
                        div(class="box option")= question.opFour
                            input(type="hidden" value=question.opFour)
                        div(class="box option")= question.opFive
                            input(type="hidden" value=question.opFive)
            div(class="column" is-one-fifth)
